footer.page-footer.red.lighten-4
  .container
    .row
      .col.s12.m6
        p.white-text Don't forget to leave a comment
      .col.s12.m6
        i.material-icons.social-icons.right perm_media
        i.material-icons.social-icons.right perm_identity
        i.material-icons.social-icons.right query_builder
        h6.white-text.social-text.right Be Social

  .footer-copyright
    .container
      | © 2017 Copyright Text
      a.white-text.right(href='#!') LivingBetter@Walmart
