ul#dropdown1.dropdown-content
  li
    a(href='/mindfulness') Mindfulness
  li
    a(href='/fashionista') Fashionista
  li
    a(href='/cooking') Chef Boss
  li
    a(href='/bbq') Summer Fun
  li
    a(href='/groceries') Groceries
  li
    a(href='/home') Decorating Fun
  li
    a(href='/sports') Sports
nav.red.lighten-4
  .nav-wrapper
    a.brand-logo.center(href='#') Living Better
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul#nav-mobile.left.hide-on-med-and-down
      li
        a.dropdown-button(href='#!', data-activates='dropdown1')
          | Categories
          i.material-icons.right arrow_drop_down
      li
        a(href='sass.html') About me
      li
        a(href='badges.html') @Walmart
    ul#mobile-demo.side-nav.red.lighten-4
      img.side-nav-photo(src='/img/flowers.jpg')
      li
        a.pink-text(href='sass.html') About me
      li
        a.pink-text(href='badges.html') @Walmart
      li.divider
      li
        a.pink-text(href='#!') Mindfulness
      li
        a.pink-text(href='#!') Fashionista
      li
        a.pink-text(href='#!') Chef Boss
      li
        a.pink-text(href='#!') Summer Fun
      li
        a.pink-text(href='#!') Groceries
      li
        a.pink-text(href='#!') Decorating Fun
      li
        a.pink-text(href='#!') Sports
