ul#dropdown1.dropdown-content
  li
    a(href='/mindfulness') Mindfulness
  li
    a(href='/fashionista') Fashionista
  li
    a(href='/cooking') Chef Boss
  li
    a(href='/groceries') Groceries
  li
    a(href='/home') Decorating Fun
  li
    a(href='/sports') Sports
nav.red.lighten-4
  .nav-wrapper
    a.brand-logo.center(href='/about')
      .sub-header
        i.icon-L
        i.icon-i
        i.icon-v
        i.icon-e
        i.icon-B.letter-B
        i.icon-e
        i.icon-t
        i.icon-t
        i.icon-e
        i.icon-r
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul#nav-mobile.left.hide-on-med-and-down
      li
        a.dropdown-button(href='#!', data-activates='dropdown1')
          | Categories
          i.material-icons.right arrow_drop_down
      li
        a(href='/about') About me
      li
        a(href='/about') @Walmart
    ul#mobile-demo.side-nav.red.lighten-4
      img.side-nav-photo(src='/img/flowers.jpg')
      li
        a.pink-text(href='/about') About me
      li
        a.pink-text(href='/about') @Walmart
      li.divider
      li
        a.pink-text(href='/mindfulness') Mindfulness
      li
        a.pink-text(href='/fashionista') Fashionista
      li
        a.pink-text(href='/cooking') Chef Boss
      li
        a.pink-text(href='/groceries') Groceries
      li
        a.pink-text(href='/home') Decorating Fun
      li
        a.pink-text(href='/sports') Sports
