extends layout

block content
  .parallax-container
    .parallax
      img(src='img/background-image.jpg')

  .section.white
    .row.container
      .category-header
        i.icon-H
        i.icon-o
        i.icon-m
        i.icon-e

      .col.s12.m12
        .carousel
          a.carousel-item(href='/mindfulness')
            img(src='/img/mindfulness.jpg')
          a.carousel-item(href='/fashionista')
            img(src='/img/fashion_1.jpg')
          a.carousel-item(href='/cooking')
            img(src='/img/cooking.jpg')
          a.carousel-item(href='/groceries')
            img(src='/img/groceries.jpg')
          a.carousel-item(href='/home')
            img(src='/img/home.jpg')
          a.carousel-item.sports(href='/sports')
            img(src='/img/sports.jpg')

      ul.collection#list
        li.collection-item.avatar#template
          .image.circle
          span.title
          span.rating.pink
          .ratingImage
          br
          span.content

          a.secondary-content(href='#!')
            i.material-icons grade

  .parallax-container
    .parallax
      img(src='img/background-image2.jpg')

block scripts
  script(src='/js/home.js')
