extends layout

block content
  .container
    .row
        .col.s12.m6
          .splash-container
            img.materialboxed(data-caption='Welcome to Living with Value' width='70%', src='img/splash.jpg')

        .col.s12.m6
          .splash-text
            h1.main-header.center Live Better
            p.center.black-text Hello World. Filter lungo bar extraction in organic single origin and dripper. Cinnamon sit id, espresso single origin chicory macchiato seasonal. Carajillo percolator cappuccino, at cup fair trade affogato café au lait.
            p.center.black-text Fair trade single origin brewed extraction carajillo cappuccino irish. Froth, flavour blue mountain, and medium et wings single shot. Carajillo, affogato foam, ut seasonal viennese, aromatic roast macchiato shop et irish.

    .row
      .col.s12.m4.l4
        .card
          .card-image
            img.card-photo(src='/img/mindfulness.jpg')
            span.card-title Mindfulness
            a.btn-floating.halfway-fab.waves-effect.waves-light.light.pink.lighten-1(href='/mindfulness')
              i.material-icons.mindfulness loyalty
          .card-content
            p #Wellness@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.

      .col.s12.m4.l4
        .card
          .card-image
            img.card-photo(src='/img/fashion_1.jpg')
            span.card-title Fashionista
            a.btn-floating.halfway-fab.waves-effect.waves-light.pink.lighten-1(href='/fashionista')
              i.material-icons.fashionista loyalty
          .card-content
            p #Fashionista@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.

      .col.s12.m4.l.4
        .card
          .card-image
            img.card-photo(src='/img/cooking.jpg')
            span.card-title Chef Boss
            a.btn-floating.halfway-fab.waves-effect.waves-light.light.pink.lighten-1(href='/cooking')
              i.material-icons.cooking loyalty
          .card-content
            p DinnerMadeEasy@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.

    .row
      .col.s12.m4.l4
        .card
          .card-image
            img.card-photo(src='/img/groceries.jpg')
            span.card-title I love FOOD
            a.btn-floating.halfway-fab.waves-effect.waves-light.light.pink.lighten-1(href='/groceries')
              i.material-icons.groceries loyalty
          .card-content

            p Everybody stop. And... #BuyGroceries@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.


      .col.s12.m4.l4
        .card
          .card-image
            img.card-photo(src='/img/home.jpg')
            span.card-title Decorate It
            a.btn-floating.halfway-fab.waves-effect.waves-light.light.pink.lighten-1(href='/home')
              i.material-icons.home loyalty
          .card-content
            p #HomeGoods@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.

      .col.s12.m4.l4
        .card
          .card-image
            img.card-photo(src='/img/sports.jpg')
            span.card-title Decorate It
            a.btn-floating.halfway-fab.waves-effect.waves-light.light.pink.lighten-1(href='/sports')
              i.material-icons.sports loyalty
          .card-content
            p #DominateLikeAGirl@Walmart
            p
              | Qui as white americano, single origin aroma irish sugar bar doppio cream. Sweet, frappuccino robusta variety, milk aroma con panna so to go. Aged flavour at milk ristretto black breve white con panna mocha crema.
