doctype html
html
  head
    block head
      block title
        title Walmart Blog
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/materialize.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
      script(src='/js/carousel.js')
      block scripts
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include header

      main.mdl-layout__content
        block content

        include footer

    include links
