doctype html
html
  head
    block head
      block title
        title Walmart Blog
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/materialize.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      link(rel='stylesheet', href='css/stylish/style.css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='/js/carousel.js')
      block scripts
  body
      .navbar-fixed
        include header

      main.mdl-layout__content
        block content

        include footer

    include links
