extends layout

block content
  h1 Sports
  ul.collection#list
    li.collection-item.avatar#template
      img.circle(src='img/sports.jpg', alt='')
      span.title.itemTitle Title
      p.description
        | First Line
        br
        |          Second Line
      a.secondary-content(href='#!')
        i.material-icons grade
