@css {
  @font-face {
    font-family: 'stylish-icons';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/stylish/icomoon.eot');
    src: url('./fonts/stylish/icomoon.eot') format('embedded-opentype'),
        url('./fonts/stylish/icomoon.woff') format('woff'),
        url('./fonts/stylish/icomoon.ttf') format('truetype'),
        url('./fonts/stylish/icomoon.svg') format('svg');
  }
}
