.card-photo {
  height: 300px;
  width: auto;
}
.highlight {
  color: #bbb;
}
.materialboxed {
  border-radius: 50%;
}
.social-icons {
  margin-left: 10px;
}
.social-text {
  margin-left: 10px;
}
.card {
  border-radius: 8px;
}
footer {
  font-weight: bold;
}
li.divider {
  color: #fff;
}
.splash-container,
.splash-text {
  margin-top: 30px;
}
.main-header1 {
  font-size: 75px;
}
.letter-B {
  margin-left: 15px;
}
.splash-text {
  margin-top: 60px;
  color: #ef9a9a;
}
.brand-logo {
  font-family: stylish;
}
.category-header {
  margin-top: 20px;
  text-align: center;
  color: #6a1b9a;
  font-size: 80px;
}
nav i {
  font-size: 45px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
